<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle #3</title>
</head>
<body>
    <div class="wrapper">

        <img src="static/images/3Gnomes.png" alt="3 gnomes riddle">

        <h5>{{ this_puzzle.question }}</h5>

        <form action="/puzzle/{{this_puzzle.id}}/answer" method="POST">
            <p>H_ _ _ &nbsp;  _ _ &nbsp; _ _ _ _, &nbsp; _ _ _ &nbsp; _o &nbsp; _ _ _ _, &nbsp; _ _ _ _ _ &nbsp; _ _ &nbsp; _ _ _l.</p>
            <input type="text" id="answer" name="answer">
            <input type="submit" value="Solve Riddle">
        </form>

    </div>
    
</body>
</html>