<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer {{puzzle_2.id}}</title>
</head>
<body>
    <h3>Nothing. You just shouted the phrase and are starting to think you got it wrong when you hear a soft click and the gate drifts open. You leap forward and push through the gate, stumbling and falling as you make it through.</h3>
    <h3>“Smarter than I thought, human!” the fairy exclaims as she flits through after you. “You cut it a bit close though.” She mutters.
        You look to see what she’s talking about and find the witch mere feet from the gate. Before you have a chance to do more than gasp, the fairy snaps her fingers and the gate slams shut, a string of light intertwines around the bars of the gate and cross, materializing into a chain and padlock.</h3>
        <h3>The witch grabs the bars and pulls against them, trying futilely to force them open. She howled and sobbed in rage at the same time. “Oh human, help me! You have to help me!” the witch pleaded, reaching through the bars.</h3>
        <h3>“Silly witch. Thought you could catch me!” The fairy crowed, flying tauntingly out of reach.</h3>
        <h3>You look in disbelief from the fairy to the witch and back.</h3>
        <h3>The fairy heaves a big sigh and pats you on the head. “Fret not, silly human. She won’t bother anybody ever again.” The tiny creature said with a terrifying smile. “Now run along before I decide to keep you, too – you’ve been quite entertaining.”</h3>
        <h3>The sound of the fairy’s giggles follow you as you run as fast as your feet can carry you through the rest of the forest.</h3>
        <a href="/mythical_labyrinth_escape/results">View Results</a>
</body>
</html>