<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer {{puzzle.id}}</title>
</head>
<body>
    <h3>You collapse to your knees as you stumble out of the maze, sounds of rustling leaves and chittering creatures come from the shadows of the bushes.</h3>
    <h3>“Well, safe to say you made it out of there not a moment too soon!” The fairy exclaimed as she floats around you, tsks and shakes her head at the maze.</h3>
    <h3>You look up, refusing to glance behind you even though you can feel eyes on your back, and instead, look ahead across an open field of waist high grass, the sun starting to touch the horizon as it sets.</h3>
    <h3>Across the field, you spy a silvery gate and jump to your feet with joy – the way out is just ahead!</h3>
    <h3>“Well, well, almost there human! Better hurry before the sun sets!” The fairy said, most amused.</h3>
    <h4>You take off in a dead run.</h4>
    <a href="/mythical_labyrinth_escape/puzzle/3">Attempt Puzzle Three</a>
</body>
</html>