<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacman</title>
    <meta name="description" content="Lets play Pacman">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/maze.css' %}">
    <script defer src="{% static 'js/js_pacman.js' %}"></script>
</head>
<body>
    <div id="container">
        <div id="world"></div>
        <div id="pacman"></div>
        <div id="score"></div>
        <div id="cherry"></div>
        <div id="ghost"></div>
    </div>
    <h1>Hint</h1>
    <p>Follow the right wall to get out</p>
    <h1>Story Intro</h1>
    <p>
        Freedom at last! Or not. Guess that was too much to hope for, and too
        easy. As you stand outside the hut you had been trapped in moments ago,
        you now stare at a wall of hedge-bush, taller than a building and woven
        tightly together, blocking your path. As you give an exasperated sigh and
        look imploringly at the fairy, she shoots you a look of disdain.
        
        “Don’t think I can fly you over that!” she huffed and wagged a finger at
        the opening in the wall. “You better start running if you want to make it
        out of that maze before sundown.” Then she giggled, almost evilly. “You
        don’t want to be in there after dark!”
    </p>

    <h1>Puzzle Question</h1>
    <p>What is the magic word to open the gate?</p>
    <h1>Answer</h1>
    <div>
        <form action="2/answer" method="post">
            {% csrf_token %}
            <input type="text" name="answer">
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>